{% extends 'Blog/base.html' %}

{% load static %}

{% block content %}


<div class="col-sm-10">
    <h1 class="text-white my-5">About page</h1>

<p>
    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.
</p>


<p>
    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.
</p>


</div>

{% endblock content %}