{% extends 'Blog/base.html' %}

{% load static %}

{% block content %}


<div class="col-sm-10 ">
    <h1 class="text-white my-5">Signup Page</h1>

    <div class="form-control colorform">

        <h4 class="text-center alert alert-info">Register</h4>

     
        <form action="" method="POST" class="px-4 py-3 colorform"  novalidate>
            {% csrf_token %}
    
            {% if forms.non_field_errors %}
    
            {% for error in forms.non_field_errors %}
            <p class="err">{{error}}</p>
            {% endfor %}
            {% endif %}
    
        
            <div class="form-group">

            {% for fm in forms %}
                {{fm.label_tag}} {{fm}} <br> <br>{{fm.errors|striptags}}
            {% endfor %}
            </div>
        
    
            <button type="submit" class="btn btn-success">SignUp</button>

            <a href="#" class="btn btn-primary mt-4">Login</a>
        </form>
        {% if messages %}
        {% for msg in messages %}
        <small {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</small>
        {% endfor %}
        {% endif %}


    </div>

</div>

{% endblock content %}